@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

body {
  font-family: "Roboto", sans-serif;
}

.aside-widget__disable {
  display: none;
}

.widget {
  padding-bottom: 0.9375rem;
}

.aside__buttons {
  margin-top: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625rem;
}

.aside__button {
  border-radius: 0.3125rem;
  font-size: 1rem;
  line-height: 1.125;
}

.underground__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 0;
  -webkit-transition: max-height 0.3s ease 0s;
  -o-transition: max-height 0.3s ease 0s;
  transition: max-height 0.3s ease 0s;
  overflow: hidden;
}

.ranting__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9375rem;
  max-height: 0;
  -webkit-transition: max-height 0.3s ease 0s;
  -o-transition: max-height 0.3s ease 0s;
  transition: max-height 0.3s ease 0s;
  overflow: hidden;
}

.services-toggle {
  display: inline-block;
  margin-top: 0.9375rem;
}

.services-toggle {
  cursor: pointer;
}

.aside {
  width: 16.875rem;
}

.aside__title {
  font-size: 1.125rem;
  font-weight: 700;
  color: #000;
  line-height: 1.1666666667;
  position: relative;
  cursor: pointer;
  margin-bottom: 0.9375rem;
}

.aside__title::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(../img/widget__arrow.svg);
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.widget__active::after {
  content: "";
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.wrapper {
  background-color: #f4f4f4;
}

.flats {
  padding: 3.75rem 0px 3.75rem 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flats-hidden__list {
  width: 54.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875rem;
}

.flats-hidden__disable {
  display: none;
}

.flats__showMore {
  position: relative;
  width: 100%;
  background-color: #e5e5e5;
  color: #4290c9;
  min-height: 5rem;
  font-size: 1.125rem;
  line-height: 1.1666666667;
}

.flats__showMore::before {
  position: absolute;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  left: 40%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("../img/flats__showMore.svg");
  background-repeat: no-repeat;
}

.flats__list {
  width: 54.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flats__item {
  background-color: #fff;
  border-radius: 0px 0px 5px 5px;
  position: relative;
}

.flats__desc {
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.flats__comfort {
  border-radius: 3px;
  background-color: #ffcf26;
  width: 5rem;
  height: 1.375rem;
  padding-top: 0.1875rem;
  padding-bottom: 0.1875rem;
  text-align: center;
  color: #000;
  line-height: 1.1428571429;
}

.flats__credit {
  border-radius: 3px;
  background-color: #11BE75;
  width: 8.875rem;
  padding-top: 0.1875rem;
  padding-bottom: 0.1875rem;
  text-align: center;
  color: #fff;
  line-height: 1.1428571429;
}

.flats__info {
  padding-left: 0.9375rem;
  padding-bottom: 1.25rem;
  padding-top: 0.9375rem;
  padding: 0.9375rem 0 1.25rem 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625rem;
}

.flats__title {
  font-size: 1.125rem;
  font-weight: 700;
  color: #000;
}

.flats__ranting {
  color: #000;
  font-size: 0.875rem;
  line-height: 1.1428571429;
}

.flats__underground {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  color: #000;
  font-size: 0.875rem;
  line-height: 1.1428571429;
}

.flats__street {
  color: #777777;
  font-size: 0.875rem;
  line-height: 1.1428571429;
}

.aside__accept {
  height: 3.125rem;
  background-color: #ffcf26;
  color: #000;
}

.aside__remove {
  height: 3.125rem;
  border: 1px solid #d6d6d6;
  color: #3c3c3c;
}

.aside-underground__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid #d6d6d6;
  max-height: 6.5625rem;
  border-radius: 5px;
  -webkit-transition: max-height 0.3s ease 0s;
  -o-transition: max-height 0.3s ease 0s;
  transition: max-height 0.3s ease 0s;
}

.aside-location__item {
  padding: 1.0625rem 0.9375rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center;
}

.aside-location__item:not(:last-child) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  border-bottom: 1px solid #d6d6d6;
}

.aside-location__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.location-item__active {
  background-color: #FFCF26;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.aside-ranting__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9375rem;
  max-height: 10.625rem;
  -webkit-transition: max-height 0.5s ease 0s;
  -o-transition: max-height 0.5s ease 0s;
  transition: max-height 0.5s ease 0s;
}

.radio__group {
  cursor: pointer;
}

.radio__real {
  width: 1px;
  height: 1px;
  position: absolute;
  top: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.radio__fake {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  vertical-align: bottom;
  border: 1px solid #777777;
  margin: 0px 0.625rem 0px 0px;
}

.radio__title {
  font-size: 1rem;
  line-height: 1.1875;
  color: #000;
}

.radio__real:checked + .radio__fake {
  background-color: #ffe074;
}

.radio__real:checked ~ .radio__title {
  font-weight: 500;
}

.radio__real:checked + .radio__fake::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3c3c3c;
}

.aside-optional__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9375rem;
  max-height: 17.5rem;
  -webkit-transition: max-height 0.3s ease 0s;
  -o-transition: max-height 0.3s ease 0s;
  transition: max-height 0.3s ease 0s;
}

.aside-optional__showMore {
  position: relative;
  color: #4290c9;
  font-size: 1rem;
  line-height: 1.1875;
}

.aside-optional__showMore::after {
  display: inline-block;
  position: absolute;
  content: "";
  background-color: #4290c9;
  height: 0.0625rem;
  width: 0%;
  left: 50%;
  bottom: 0;
  -webkit-transition: width 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hidden-optional__list-disable {
  display: none;
}

.hidden-optional__list-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9375rem;
}

.radio__real-optional {
  width: 1px;
  height: 1px;
  position: absolute;
  top: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.radio__fake-optional {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: transparent;
  vertical-align: bottom;
  border: 1px solid #777777;
  margin: 0px 0.625rem 0px 0px;
}

.radio__title-optional {
  font-size: 1rem;
  line-height: 1.1875;
  color: #000;
}

.radio__real-optional:checked + .radio__fake-optional {
  background-color: #ffe074;
}

.radio__real-optional:checked ~ .radio__title-optional {
  font-weight: 500;
}

.radio__real-optional:checked + .radio__fake-optional::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-image: url(../img/check__arrow.svg);
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center;
}

.toggle__fake-services {
  position: relative;
  display: inline-block;
  width: 2.3125rem;
  height: 1.25rem;
  vertical-align: bottom;
  border-radius: 0.625rem;
  background-color: #c4c4c4;
  margin: 0px 0.625rem 0px 0px;
}

.toggle__fake-services::before {
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: #3c3c3c;
  border-radius: 50%;
  -webkit-transition: left 0.2s ease 0s;
  -o-transition: left 0.2s ease 0s;
  transition: left 0.2s ease 0s;
}

.toggle__real-services:checked + .toggle__fake-services {
  background-color: #ffe074;
  -webkit-transition: background-color 0.2s ease 0s;
  -o-transition: background-color 0.2s ease 0s;
  transition: background-color 0.2s ease 0s;
}

.toggle__real-services:checked + .toggle__fake-services::before {
  width: 1rem;
  height: 1rem;
  background-color: #3c3c3c;
  left: 53%;
  -webkit-transition: left 0.2s ease 0s;
  -o-transition: left 0.2s ease 0s;
  transition: left 0.2s ease 0s;
}

@media (any-hover: hover) {
  .flats__item:hover {
    -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
            transform: scale(1.01);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .aside-location__item:hover {
    background-color: rgb(213, 213, 213);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .location-item__active:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #efbe0c;
  }

  .aside-optional__showMore:hover::after {
    content: "";
    width: 100%;
  }
}